<div id="uiContainer">

  <div class="textContent is-center">
    <h1>
      Какие сейчас тренды в github?
    </h1>
  </div>

  <div class="uiInputContainer">

    <form id="searchForm">


      <div class="autoComplete_wrapper">
        <input class="inputAll" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off"
          autocapitalize="off" id="autoComplete">
      </div>

      <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.1.2/dist/autoComplete.min.js">
      </script>

      <hr>

      <div class="ui">

        <div class="autoComplete_wrapper">
          <input class="inputAll" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off"
            autocapitalize="off" id="autoComplete2">
        </div>

      </div>
      <hr>

      <div class="ui">

        <div class="autoComplete_wrapper">
          <input class="inputAll" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off"
            autocapitalize="off" id="autoComplete3">
        </div>

      </div>
      <div id="containerBtnSearch">

        <button id="btnSearch" type="submit" class="btn btn-success">Поиск</button>

      </div>
    </form>

  </div>

  <div id="containerCard" class="findCard uiInputContainer">

  </div>

</div>
