<div id="containerReg">

  <h2 id="h2Register">Регистрация</h2>

  <div id="registerDiv">

    <form id="registerForm">

      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Логин</label>
        <input name="name" type="text" class="form-control" id="exampleInputName" aria-describedby="NameHelp" required>
        <div id="namelHelp" class="form-text">Введите Логин</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Почта</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          required>
        <div id="emailHelp" class="form-text">Введите почту</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword" class="form-label">Пароль</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
        <div id="passwordHelp" class="form-text">Введите пароль</div>
      </div>

      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>

    </form>

  </div>
</div>
